.userContainer {
    width: 60%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 40px;


}

.avatar {
    width: 70px;
}

.infoContainer {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 20px;
    padding: 10px;


    border: 1px solid black;
    border-radius: 10px;

}

.personContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status {
    font-size: 14px;
}

.location {
    text-align: right;
}

.followButton {

}